<h1>feed</h1>
<p class="lead text-muted"> posts by people you follow </p>

<%= render partial:"shared/sub_nav", user: @user %>

<% @user.feed.each do |photo| %>
  <%= render "photos/photo", photo: photo %>
<% end %>
