<h1>
  <%= @user.username %>
</h1>

<%= render partial:"shared/sub_nav", user: @user %>

<h2>Own photos</h2>

<% @user.own_photos.each do |photo| %>
  <%= render "photos/photo", photo: photo %>
<% end %>
